.body {

    background-image: url("img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: url(fuentes/BreakingBad.ttf); 
    
}
.formulario3 {
    background-image: url("img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: url(fuentes/BreakingBad.ttf); 
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

#logo{

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.texto{

    color: white;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.texto2{

    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.poster{
    border: outset;
    border-radius: 10px;
    border-color: brown;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    border-bottom-left-radius: 22px;
    width: 700px;
    height: 300px;
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.formulario{

    background-color: rgba(133, 131, 131, 0.639);

}

.tablaini {

    background-color: #627124;
    font-family: url(fuentes/BreakingBad.ttf); 

}

.cabecera {

    background-color: #627124;
    font-family: url(fuentes/BreakingBad.ttf); 
    margin-top: auto;
    margin-left: 600px;

}

.tabla1{
   margin: auto;
   margin-top: 20px;
   background-color: #2b2d23;
   width:1200px ;
   height: 400px;

}

 table, th, td {
    border-collapse: collapse;
    border: 9px solid #2b2d23;
    width: 200px;
    height: 50px;
    background-size: cover;
    text-align: center;

}

.tabla2{
    margin: auto;
    margin-top: 20px;
    background-color: #2b2d23;
    width:1000px ;
    height: 100px;
 }

 .imagen{

    width: 80px;
    height: auto;
    
    

 }

 .verde {
    background-color: #b7dd13;
 }

 .verde2 {

    background-color: #89a418;

 }

 .verde3{
    background-color: #627126;
 }

 .verde4{
    background-color: #828e55;
 }

 .verdegris{
    background-color: #bdc39c;
 }

 .lila{
    background-color: #aa8dcc;
 }

 .amarillo{
    background-color: #d5ea74;
 }

 .blanco{
    background-color: #eff6c9;
 }

 .naranja{
   background-color: #c3c62a;
 }
 

 .size7{
    font-size: 30px;
    width: 30px;
 }

